name: ci
on:
  push:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read
env:
  # Change this to upload the built image to your own organization.
  docker_tag_prefix: ghcr.io/tietokilta
jobs:
  checks:
    name: validate and test
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: mysecretpassword
          POSTGRES_DB: local
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DATABASE_URL: postgres://root:mysecretpassword@localhost:5432/local
      DATABASE_URL_TEST: postgres://root:mysecretpassword@localhost:5432/local_test
      STRIPE_API_KEY: sk_test_...
      STRIPE_WEBHOOK_SECRET: whsec_...

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@d648c2dd069001a242c621c8306af467f150e99d

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install browsers
        run: pnpm exec playwright install

      - name: Copy .env example
        run: cp .env.example .env

      - name: Push db schema
        run: pnpm db:push:force

      - name: Lint
        run: pnpm lint

      - name: Build (generates i18n types)
        run: pnpm build

      - name: Check
        run: pnpm check

      - name: Test
        run: pnpm test
